
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for friendship
    function isFriend(userId) {
      return request.auth.uid in get(/databases/$(database)/documents/users/$(userId)).data.friends;
    }

    // Rules for user profiles
    match /users/{userId} {
      // Allow users to read their own profile, or the profile of a friend.
      // Allow anyone to query the users collection to add friends.
      allow read: if request.auth != null && (request.auth.uid == userId || isFriend(userId));
      
      // Allow users to update their own profile.
      allow write: if request.auth.uid == userId;

      // Rules for user subcollections (habits, activity)
      match /{collection}/{docId} {
         // Allow reading a user's data only if they are a friend.
        allow read: if request.auth != null && isFriend(userId);
        
        // Allow writing only to your own subcollections.
        allow write: if request.auth.uid == userId;
      }
    }
  }
}
