rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if the requesting user is a friend of the resource user
    function isFriend(userId) {
      // Allow if the requesting user's ID is in the target user's friend list.
      return request.auth.uid in get(/databases/$(database)/documents/users/$(userId)).data.friends;
    }

    // Users can only read their own data or data of their friends.
    // They can only write to their own data.
    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isFriend(userId));
      allow write: if request.auth != null && request.auth.uid == userId;

      // Habit and Activity data can be read by friends, but only written by the owner.
      match /{collection}/{docId} {
        allow read: if request.auth != null && (request.auth.uid == userId || isFriend(userId));
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
